modules = ["c-clang14", "bash", "cpp-clang14", "go-1.23", "python-base-3.12", "postgresql-16", "web"]

[nix]
channel = "stable-24_05"
packages = ["ipscan"]

[workflows]
runButton = "Mobile-Proxy"

[[workflows.workflow]]
name = "3proxy"
author = 39603852
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x /src/scripts/setup.sh"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./src/scripts/setup.sh"

[[workflows.workflow]]
name = "3proxy-full"
author = 39603852
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x /src/scripts/setup.sh"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "/src/scripts/setup.sh"

[[workflows.workflow]]
name = "3proxy-mobile"
author = 39603852
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x /src/scripts/setup.sh"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "/src/scripts/setup.sh"

[[workflows.workflow]]
name = "Mobile-Proxy"
author = 39603852
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd src && g++ -std=c++11 -Wall -pthread mobile_proxy.cpp -o ../bin/mobile_proxy"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "../bin/mobile_proxy"

[deployment]
run = ["sh", "-c", "cd src && ../bin/mobile_proxy"]
